[Desktop Entry]
Version=1.0
Name=RSCOIN Core
Comment=RSCOIN P2P Cryptocurrency
Comment[fr]=RSCOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=RSCOIN, eşten eşe kriptografik sanal para birimi
Exec=rscoin-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/rscoin;
Categories=Office;Finance;
StartupWMClass=Pivx-qt
